<ion-tabs>

  <ion-tab-bar >

    <ion-tab-button tab="home">
      <ion-icon name="home-outline" mode="md"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="menu-outline" mode="md"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline" mode="md"></ion-icon>
      <ion-label>Sacola</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-account">
      <ion-icon name="person-outline" mode="md"></ion-icon>
      <ion-label>Sua conta</ion-label>    
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
