input {
    width: 90%;
    margin-bottom: 10px;
    height: 50px;
    background-color: #F3F3F3 ;
    border: 0ch;
    padding-left: 10px;
}
button{
    margin-top: 5px;
    width: 90%;
    margin-bottom: 10px;
    height: 50px;
    background-color: #1398FF ;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 0ch;
    padding-left: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
img{
    max-height: 180px;
    margin-bottom: 50px;
}